.header {
  background-color: hsl(203, 92%, 40%);
  border-radius: 16px;
  color: hsl(0, 0%, 96%);
  padding: 2px 25px;
  text-align: center;
}

.header__title {
    text-transform: uppercase;
    text-shadow: 1px 1px hsl(0, 0%, 50%);
}
